<h1>Admin Dashboard</h1>
<h4><%= "The current number of all the products in stock: #{@number_of_products}" %></h4>
<h4><%= "The current number of all the categories in stock: #{@number_of_categories}"%></h4>
